* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.home_page {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    

    width: 100vw;
    height: 100vh;
}

.box_left, .box_right, .left, .right, .show_map {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box_left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1B81DB;

    width: 50%;
    height: 100vh;

    padding: 100px 200px;
}

.box_right {
    width: 40vw;
    height: 100vh;
    flex-grow: 1;
}

.right {
    position: relative;

    background-color: #ffffff;

    width: 30vw;
    height: 70vh;

    border: 2px solid #e6e3e3;
    border-radius: 15px;

    box-shadow: 3px 3px 3px #e6e3e3;

    overflow: hidden;
}

.show_map {
    all: unset;
    box-sizing: border-box;

    position: absolute;
    z-index: 1;
    
    background-color: #1B81DB;
    text-align: center;

    width: 150px;

    padding: 10px;

    border-radius: 7px;

    color: #ffffff;

    cursor: pointer;
}

.show_map:hover {
    background-color: #1B81DB;

    color: #ffffff;
}

.left-imgtext_container{
    display: flex;
    align-self: center;
    justify-content: center;
    flex-direction: column;
    gap: 100px;
}

.home_img{
    width: 200px;
    height: 200px;
}

.left_text{
    font-size: 60px;
    margin-right: 10px;
    color:#ffffff;
}