.box_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 90vw;
}

.btn_show_map:hover {
  background-color: #5f7e77;
}

.input_header {
  all: unset;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 300px;

  padding: 10px;
  border: 1px solid rgb(126, 66, 99);
  border-radius: 3px;

  box-shadow: 3px 3px 3px rgb(126, 66, 99);
}

.link_home {
  text-decoration: none;
}

.btn_search {
  all: unset;
  background: #3001da;
  border-radius: 10px;
  color: #ffffff;
  padding: 4px 50px;
  cursor: pointer;
  height: 30px;
}
