.box_header {
  display: flex;
  justify-content: center;
  align-items:center;
  position: relative;

  background: linear-gradient(90.25deg, #ffffff 0%, #ffffff 113.87%);
  box-shadow: 2px 2px 4px rgba(0, 61, 179, 0.15);

  width: 100vw;
  height: 45px;

  margin-bottom: 20px;

  padding: 30px;
}

.input_header {
  all: unset;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 300px;
  margin-right: 10px;
  padding: 10px;
  border: 1px solid #888;
  border-radius: 3px;
  background: linear-gradient(90.25deg, #ffffff 0%, #ffffff 113.87%);
  box-shadow: 2px 2px 4px rgba(0, 61, 179, 0.15);
}

.btn_show_map:hover {
  background-color: #5f7e77;
}

.link_home {
  text-decoration: none;
}

.btn_search {
  all: unset;
  box-sizing: border-box;

  background: #3001da;
  height: 30px;

  padding: 4px 50px;
  border-radius: 10px;

  color: #ffffff;
  cursor: pointer;
}

.logo {
  /* margin-left: 10px;
  margin-bottom: 20px; */

  align-self: flex-start;
}

.box_input_btn_search {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 20px;
  flex-grow: 1;
  width: 300px;

}
