* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;
}

.map-container {
    width: 90vw;
    height: 70vh;    

    border-radius: 10px;
    box-shadow: 7px 7px 7px rgb(192, 188, 188);
}

.sidebar {
    background-color: rgba(35, 55, 75, 0.9);
    color: #fff;
    padding: 6px 12px;
    font-family: monospace;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    margin: 12px;
    border-radius: 4px;
}

.box_search_map {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.box_search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.box_header_viewport_map {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;    
}

.viewport_map {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    box-shadow: 7px 7px 7px rgb(192, 188, 188);

    border-radius: 20px;
    overflow: hidden;
}

/* .box_popup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.popup_text {
    background-color: white;
    width: 125px;

    padding: 5px;
    border-radius: 5px;

    box-shadow: 2px 2px 2px 2px rgb(192, 188, 188);

    color: #5f7e77;
    font-weight: bold;
    text-align: center;
} */


     
