.box_popup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.popup_text {
    background-color: white;

    width: 125px;

    padding: 5px;
    border-radius: 5px;

    box-shadow: 2px 2px 2px 2px rgb(192, 188, 188);

    color: #5f7e77;
    font-weight: bold;
    text-align: center;
}